---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
  </url>
  <url>
    <loc>{{ site.url }}/about/</loc>
  </url>
  {%- for p in collections.patterns %}
  {%- if p.data.slug != "pattern-name" %}
  <url>
    <loc>{{ site.url }}{{ p.url }}</loc>
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
